@media (min-width: 980px) {
	.page-sidebar {
		padding-bottom: 80px;
	}
}

.custom-submit-button {
	
}

.grid.simple .grid-title .custom-tools a {
	color: #00e;
}

button.buttonAdjacentInput {
	min-height: 37px;
}

select.dropdown100px {
	width: 100px;
}

.table > thead > tr > th.checkboxColumn {
	width: 1px;
}

.min-height-25 {
	min-height: 25px !important;
}

.logo-custom {
	margin: 10px 25px;
}

.icon-custom-left:hover {
	cursor: pointer;
}